# Basic .gitattributes for a R repo.

# Prevent github from claiming the project language was HTML because of the docs ><
web/* linguist-vendored
man/* linguist-vendored
vignettes/* linguist-vendored
*.html linguist-vendored
*.R linguist-vendored=false

# Source files
# ============
*.Rdata text
*.rdb   binary
*.rds   binary
*.Rd    text
*.Rdx   binary
*.Rmd	text
*.R  	text
